<% title @scan.url %>
<% breadcrumb_add 'Scans', scans_path %>

<% add_to_sidebar do %>
    <div id="scan-sidebar" class="hide">
        <%= render partial: 'scan_sidebar' %>
    </div>
<% end %>

<div id="scans">
    <div class="page-header">
        <% if @scan.owner != current_user %>
            <span class="pull-right muted">
                Started by <%= link_to @scan.owner, user_path( @scan.owner ) %>
            </span>
        <% end %>

        <% purl = @scan.parsed_url %>
        <h1>
            <%= "#{purl.scheme}://#{purl.host}" %><%= ":#{purl.port}" if purl.port %><small><%= "#{purl.path}#{!purl.query.to_s.empty? ? "?#{purl.query}" : nil}" %></small>
        </h1>

        <div id="editable-description">
            <%= render partial: 'editable_description' %>
        </div>
    </div>

    <div class="visible-phone pull-left">
        <%= render partial: 'shared/share_form', locals: { model: @scan } %>
        <%= render partial: 'scan_group_form', locals: { scan: @scan } %>
        <%= render partial: 'scan_schedule_form', locals: { scan: @scan } %>
    </div>

    <div class="visible-phone">
        <a class="toggle-comments btn btn-small" data-toggle="collapse"
           href="#comments">
            <i class="icon-comments"></i>

            <% if @scan.comments.any? %>
                <span title="The scan has <%= pluralize @scan.comments.size, 'comment' %>."
                      class="label total-comments-counter"><%= @scan.comments.size %></span>
            <% end %>

            <span title="The scan has new comments."
                  class="hide label label-info new-comments-counter"></span>

            Toggle comments
        </a>

        <hr/>
    </div>

    <div id="comments" class="accordion-body collapse">
        <%= render partial: 'comments' %>
    </div>

    <div id="scan">
      <% if @scan.suspended? %>
          <%= render 'show_suspended' %>
      <% else %>
        <%= render @scan.active? ? 'show_active' : 'show_inactive' %>
      <% end %>
    </div>

    <div class="row-fluid">
        <div class="span12" id='issues'>
            <%= render partial: 'issues/table.html', locals: { url_method_type: :scan_path } %>
        </div>
    </div>

</div>

<% if Settings.scan_auto_refresh? %>
    <div id="updater"
         data-refresh-url="<%= scan_path( @scan, params.merge( format: :js ) ) %>"
         data-refresh-rate="<%= HardSettings.scan_refresh_rate %>"
         data-refresh-type="js">
    </div>
<% end %>

<!–– After you press Email. -->
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="emailModalLabel">Send scan report </h4>
      </div>
      <div class="modal-body">
        <div class="form-inline">
          <p>
            Enter recipient's Email address: 
			      <input type="text">
          </p>
		    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="#" data-toggle="modal" data-target="#sentModal">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Send Email</button>
        </a>
      </div>
    </div>
  </div>
</div>

<!–– After you press Send Email. -->
<div class="modal fade" id="sentModal" tabindex="-1" role="dialog" aria-labelledby="sentModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
		    <h4 class="modal-title" id="sentModalLabel">   </h4>
      </div>
      <div class="modal-body">
        <h4 align="center">Scan Report Email Sent</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!–– After you press Download. -->
<div class="modal fade" id="downloadModal1" tabindex="-1" role="dialog" aria-labelledby="downloadModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
		    <h4 class="modal-title" id="downloadModalLabel">File Download </h4>
      </div>
      <div class="modal-body">
		    <div class="form-inline">
			   <p>
				  Save to
				  <input type="text">
				  <input type="button" class="btn btn-default" id="openfileDialog" value = "Browse" onclick="openfileDialog();" />
			   </p>
		    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button">
          <%=
            link_to 'Save', report_scan_path( format: 'html' ),
                  rel: 'tooltip', title: 'Exports the audit results as a compressed HTML report.',
                  data: { 'no-turbolink' => true }
          %>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="downloadModal2" tabindex="-1" role="dialog" aria-labelledby="downloadModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="downloadModalLabel">File Download </h4>
      </div>
      <div class="modal-body">
        <div class="form-inline">
         <p>
          Save to
          <input type="text">
          <input type="button" class="btn btn-default" id="openfileDialog" value = "Browse" onclick="openfileDialog();" />
         </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button">
          <%=
            link_to 'Save', report_scan_path( format: 'json' ),
                  rel: 'tooltip', title: 'Exports the audit results as a JSON (.json) file.',
                  data: { 'no-turbolink' => true }
          %>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="downloadModal3" tabindex="-1" role="dialog" aria-labelledby="downloadModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="downloadModalLabel">File Download </h4>
      </div>
      <div class="modal-body">
        <div class="form-inline">
         <p>
          Save to
          <input type="text">
          <input type="button" class="btn btn-default" id="openfileDialog" value = "Browse" onclick="openfileDialog();" />
         </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button">
          <%=
            link_to 'Save', report_scan_path( format: 'marshal' ),
                  rel: 'tooltip', title: 'Exports the audit results as a Marshal (.marshal) file.',
                  data: { 'no-turbolink' => true }
          %>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="downloadModal4" tabindex="-1" role="dialog" aria-labelledby="downloadModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="downloadModalLabel">File Download </h4>
      </div>
      <div class="modal-body">
        <div class="form-inline">
         <p>
          Save to
          <input type="text">
          <input type="button" class="btn btn-default" id="openfileDialog" value = "Browse" onclick="openfileDialog();" />
         </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button">
          <%=
            link_to 'Save', report_scan_path( format: 'xml' ),
                  rel: 'tooltip', title: 'Exports the audit results as an XML (.xml) file.',
                  data: { 'no-turbolink' => true }
          %>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="downloadModal5" tabindex="-1" role="dialog" aria-labelledby="downloadModal5" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="downloadModalLabel" align="center">File Download </h4>
      </div>
      <div class="modal-body">
        <div class="form-inline">
          <p>
            Save to
            <input type="text" id="dirBox">
            <input type="button" class="btn btn-default" id="openfileDialog" value = "Browse" onclick="openfileDialog();" />
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button">
          <%=
            link_to 'Save', report_scan_path( format: 'yaml' ),
                  rel: 'tooltip', title: 'Exports the audit results as a YAML (.yaml) file.',
                  data: { 'no-turbolink' => true }
          %>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="downloadModal6" tabindex="-1" role="dialog" aria-labelledby="downloadModal5" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="downloadModalLabel" align="center">File Download </h4>
      </div>
      <div class="modal-body">
        <div class="form-inline">
          <p>
            Save to
            <input type="text" id="dirBox">
            <input type="button" class="btn btn-default" id="openfileDialog" value = "Browse" onclick="openfileDialog();" />
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button">
          <%=
            link_to 'Save', report_scan_path( format: 'pdf' ),
                  rel: 'tooltip', title: 'Exports the audit results as a PDF (.pdf) file.',
                  data: { 'no-turbolink' => true }
          %>
        </button>
      </div>
    </div>
  </div>
</div>

<!–– After you press Save. -->
<div class="modal fade" id="givenModal" tabindex="-1" role="dialog" aria-labelledby="givenModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="givenModalLabel">   </h4>
      </div>
      <div class="modal-body">
        <h4 align="center">Scan Report Downloaded</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>