<style>
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #2478ff;
  color: white;
  border: 1px solid #4C0000;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
</style>

<h2>Active
    <small>[<%= @counts[:active]['total'] %>]</small>
</h2>
<%= render partial: 'table', locals: { scans: @active_scans, type: 'active' } %>

<div class="pagination">
    <%=link_to"First Page",scans_path(scanpage:0)%>
    <%=link_to"Prev Page",scans_path(scanpage:@scanpage-1)%>
    <%=link_to"Next Page",scans_path(scanpage:@scanpage+1)%>
    <%=link_to"Last Page",scans_path(scanpage:3)%>
</div>

<h2>Finished
    <small>[<%= @counts[:finished]['total'] %>]</small>
</h2>
<%= render partial: 'table', locals: { scans: @finished_scans, treat_as_running: false, type: 'finished' } %>

<div class="pagination">
    <%=link_to"First Page",scans_path(scanpage:0)%>
    <%=link_to"Prev Page",scans_path(scanpage:@scanpage-1)%>
    <%=link_to"Next Page",scans_path(scanpage:@scanpage+1)%>
    <%=link_to"Last Page",scans_path(scanpage:3)%>
</div>

<h2>Suspended
  <small>[<%= @counts[:suspended]['total'] %>]</small>
</h2>
<%= render partial: 'table', locals: { scans: @suspended_scans, treat_as_running: false, type: 'suspended' } %>

<div class="pagination">
    <%=link_to"First Page",scans_path(scanpage:0)%>
    <%=link_to"Prev Page",scans_path(scanpage:@scanpage-1)%>
    <%=link_to"Next Page",scans_path(scanpage:@scanpage+1)%>
    <%=link_to"Last Page",scans_path(scanpage:3)%>
</div>